*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: oswald;
    src: url("../webfonts/Oswald-VariableFont_wght.ttf");
}
@font-face {
    font-family: 'open sans';
    src: url('../webfonts/OpenSans-VariableFont_wdth\,wght.ttf');
}

/*start nav */
nav{
    background-color: black;
}
nav a{
    color: white;
    display: inline-block;
    padding:15px;
   
}
nav a i{
    font-size: 15px;
}
nav a:hover{
    background-color: silver;
    color: black;
}
nav a:last-child{
    float: right;
}
/*end nav */
/*start header */
header{
    text-align: center;
    font-family: oswald;
    padding: 50px;
}

header h1{
    font-size: 45px;
}
header p{

}
header p span{
    background-color: black;
    color: white;
    padding: 0px 10px;
}
/*end header */
/*start imagediv*/
#imagediv{
    position: relative;
}
#imagediv #aboveimg{
    position: absolute;
    top: 150px;
    left: 50px;
    color: white;
    font-family: oswald;
}
#imagediv #aboveimg h2{
    font-size: 35px;
    letter-spacing: 5px;
}
#imagediv #aboveimg h1{
    font-size: 60px;
    letter-spacing: 3px;
}
#imagediv #aboveimg button{
    background-color: rgba(175,175,175,0.6);
    border: none;
    padding: 15px 25px;
}
#imagediv #aboveimg button:hover{
    background-color: rgba(175,175,175,0.9);
   
}
/*end imagediv*/

/*start main*/
main{
    background-color: #F1F1F1;
    
}


.clear{
    clear: both;
    content: " ";
}

/*start leftside*/
main #leftside{
    padding: 20px;
    background-color: #F1F1F1;
    float: left;
    width: 70%;
}
/*article*/
main #leftside article{
    background-color: white;
    padding: 20px;
    margin: 20px;
}
main #leftside article h1{
    text-align: center;
    font-family: oswald;
}
main #leftside article h3{
    text-align: center;
    font-family: oswald;
    padding: 10px 0px 20px;
}
main #leftside article h3 span{
    color: gray;
}
main #leftside article p{
    padding: 20px 0px;
    font-family: 'open sans';
    font-size: 15px;
    line-height: 22.5px;
    text-align: justify;
}
main #leftside article p span{
    font-weight: bold;
}
main #leftside article .buttonsdiv
{
    padding: 20px 0px;
}
main #leftside article .buttonsdiv button:first-child{
    float: left;
    background-color: white;
    border:1px solid gray;
    padding: 10px 20px;  
    font-weight: bold;
}   
main #leftside article .buttonsdiv button:nth-child(2){
    float: right;
    background-color: black;
    border:1px solid black;
    padding: 10px 20px; 
    color: white;
    font-weight: bold;
}
main #leftside article .buttonsdiv button:nth-child(2) span{
    color:black;
    background-color: white;
    padding:5px 8px;
}
.or{
    text-align: center;
}
.hr{
    border-bottom: 1px solid silver;
  
}
.dash{
    border-bottom: 1px solid silver;
    display: inline-block;
    width: 100px;
}
main #leftside article hr{
    background-color: red;
}
main #leftside article .articlefooter
{
    padding: 20px 0px;
}
main #leftside article .articlefooter img{
    float: left;
    width: 10%;

}
main #leftside article .articlefooter .rights{
    float: right;
    width: 90%;
    padding-left: 20px;
    
}


/*end leftside*/



/*start rightside*/
main #rightside{
    padding: 20px;
    background-color: #F1F1F1;
    float: right;
    width: 30%;
    
}
main #rightside article{
margin: 20px 0px;
}
main #rightside article .arfooter{
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: -20px;
    font-family: 'open sans';
    
}
main #rightside article .arfooter h2{
    padding: 20px 0px;
}
main #rightside article .arfooter p{
  font-size: 15px;
  line-height: 22.5px;
}

main #rightside section {

}

main #rightside section h1 {
    background-color: black;
    padding: 20px;
    color: white;
    font-family: oswald;
    font-size: 18px;
    letter-spacing: 1px;
}

main #rightside section .listi {
  
    padding: 20px;
    margin-top: -15px;
}
main #rightside section .listi  .lefts{
    float: left;
    width: 15%;
}
main #rightside section .listi .rights{
    float: left;
    width: 85%;
    padding-left: 20px;
}
main #rightside section .listi:hover{
    background-color: gray;
}
main #rightside #Advertise{
   
}
main #rightside #Advertise div{
    padding: 20px;
    
}

main #rightside #Advertise div p{
    text-align: center;
    padding: 100px 0px;
    background-color:lightgray;

}main #rightside #tages  div   {
    padding: 10px;

}
main #rightside #tages  div  span {
    padding:  0px 8px;
    margin: 3px 10px;
    display:inline-block;
    background-color: lightgray;
}
main #rightside #tages  div .s1{
    background-color: black;
    color: white;
}

main #rightside #Inspiration {

}

main #rightside #Inspiration div{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;

}
main #rightside #Inspiration div img{

    padding: 10px;
    width: 50%;


}


/*end rightside*/

/*end main*/

/*start footer*/
footer{
    background-color: #616161;
    padding: 50px;
    text-align: center;
}
/*end footer*/


@media screen and (max-width :600px){
    nav{
        width: 100%;
    }
    #imagediv #aboveimg{
        top:50px;
    }
    #imagediv #aboveimg h1 {
        font-size: 35px;
    }
    #imagediv #aboveimg button {
               padding: 10px 15px;
    }
    main #rightside {
        float: none;
        width: 100%;
        padding: 5px;
    }
    main #leftside {
        float: none;
        width: 100%;
        padding: 5px;
    }
    main #leftside article {
        
        margin: 10px 0px;
    }
    
}
